{% extends 'base.html' %}

{% block body %}
<div>
<h4>Select three data points:</h4>
<form action="/select_axes">
    <label>X-axis: </label>
    <select name='x-axis'>
        {% for stat in stats %}
        <option value="{{ stat }}">{{ stats[stat] }}</option>
        {% endfor %}
    </select><br>
    <label>Y-axis: </label>
    <select name='y-axis'>
        {% for stat in stats %}
        <option value="{{ stat }}">{{ stats[stat] }}</option>
        {% endfor %}
    </select><br>
    <label>Bubble Size: </label>
    <select name='bubble'>
        {% for stat in stats %}
        <option value="{{ stat }}">{{ stats[stat] }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" name="submit" value="Submit">
</form>
</div>

{% endblock %}